        body{
            background-color:lavender ;
        }
        h1{
            color:red;
            display: inline-block;
        }
        img{
            height:3%;
            vertical-align: middle;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            background-color: chocolate;
            color: white;
        }
        ul{
            background-color: chocolate;
            height: 50px;
            padding-right: 0 15px;
            text-align: right;
        }
        li{
            display: inline-block;
            height: 50px;
            padding: 0 15px ;
            line-height: 50px;
        }
        footer{
            text-align:center;
        }
        iframe{
                text-align: center;
            }